
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 60px;
    padding: 0 40px;

    background-color: #2b2e2e;
    border-bottom: 1px solid #2a2a2a;

    font-family: sans-serif;
}

.navbar-center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
}


.navbar a {
    color: #eaeaea;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    position: relative;
    transition: color 0.2s ease;
}


.navbar a:hover {
    color: #ffffff;
}


.navbar a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #4CAF50;

    transition: width 0.2s ease;
}

.navbar a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 16px;
    }

    .navbar-left {
        gap: 12px;
    }

    .navbar a {
        font-size: 13px;
    }
}